<div class="cutomer">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>About Us</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div id="myCarousel" class="carousel slide cutomer_Carousel " data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="carousel-caption ">
                           <div class="cross_img">
                              <figure><%= image_tag "bg.jpg" %></figure>
                           </div>
                           <div class="our cross_layout">
                              <div class="test_box">
                                 <h4>Rento</h4>
                                 <span>Commited</span>
                                 <p>Local car rental company that provides transportation services at Sabah. The solution to your needs that can help you plan your transportation in advance for your vacation with our car rental at Kota Kinabalu, Sandakan, Tawau, and Lahad Datu, Sabah.We are real people who can help you personalize your car rental service needs at the best price.There are better ways to plan your travel vacation quickly, easily and safely. Book your Car Rental in advance with us, save your time, save hassle and rest during your arrival.Let us help you and complete the task in advance.</p>
                                 <i><%= image_tag "te1.png" %></i>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption">
                           <div class="cross_img">
                              <figure><%= image_tag "cross_img.png" %></figure>
                           </div>
                           <div class="our cross_layout">
                              <div class="test_box">
                                 <h4>Due markes</h4>
                                 <span>Customer</span>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                                 <i><%= image_tag "te1.png" %></i>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption">
                           <div class="cross_img">
                              <figure><%= image_tag "cross_img.png" %></figure>
                           </div>
                           <div class="our cross_layout">
                              <div class="test_box">
                                 <h4>Due markes</h4>
                                 <span>Rental</span>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                                 <i><%= image_tag "te1.png" %></i>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
