<div class="wrapper fadeInDown">
  <div id="formContent">


    <%= form_with(model: customer) do |form| %>
    <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field mb-3">
      <%= form.label :name %>
      <%= form.text_field :name, id:"formFile", class:"form-control" %>
    </div>

    <div class="field mb-3">
      <%= form.telephone_field :contact, placeholder: "contact", id:"formFile", class:"form-control" %>
    </div>

    <div class="field mb-3">
      <%= form.email_field :email, placeholder: "email", id:"formFile", class:"form-control" %>
    </div>

    <div class="field mb-3">
      <%= form.file_field :customer_ic, placeholder: "customer ic", id:"formFile", class:"form-control" %>
    </div>

    <div class="field mb-3">
      <%= form.file_field :customer_license, placeholder: "customer license", id:"formFile", class:"form-control" %>
    </div>

    <div class="field mb-3">
      <%= form.hidden_field :booking_id, placeholder: "name" %>
    </div>

    <div class="actions">
      <%= form.submit "Next", class: 'btn btn-primary'%>
    </div>
    <% end %>

  </div>
</div>
