<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :contact %>
    <%= form.telephone_field :contact, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :email %>
    <%= form.email_field :email, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :customer_ic %>
    <%= form.file_field :customer_ic, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :customer_license %>
    <%= form.file_field :customer_license, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.hidden_field :booking_id, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Next", class: 'btn btn-primary'%>
  </div>
<% end %>
