this is car show pages

<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Booking Detail</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Customer Detail</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Supplier Detail</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Car Detail</button>
    <button class="nav-link" id="v-pills-summarys-tab" data-bs-toggle="pill" data-bs-target="#v-pills-summarys" type="button" role="tab" aria-controls="v-pills-summarys" aria-selected="false">Summary</button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <p><strong>Bookings Detail</strong></p>
        <table class= "table table-striped table-hover table-bordered ">
          <thead class="table-dark">
            <tr>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Pickup Location</th>
              <th>Dropoff Location</th>
              <th>Rental Days</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <p><%= @detail.booking.start_date %> </p> </td>

              <td> <p><%= @detail.booking.end_date %> </p> </td>

              <td> <p><%= @detail.booking.pickup_location %> </p> </td>

              <td> <p><%= @detail.booking.dropoff_location %> </p> </td>

              <td> <p><%= @days %> days </p> </td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
      <strong>Customer Detail</strong>
      <table class= "table table-striped table-hover table-bordered ">
        <thead class="table-dark">
          <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Customer Ic</th>
            <th>Customer License</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p><%= @detail.customer.name %> </p></td>

            <td><p><%= @detail.customer.contact %> </p></td>

            <td><p><%= @detail.customer.email %> </p></td>

            <td><p><%= image_tag @detail.customer.customer_ic %> </p></td>

            <td><p><%= image_tag @detail.customer.customer_license %> </p></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

      <strong>Supplier Detail</strong>
      <table class= "table table-striped table-hover table-bordered ">
        <thead class="table-dark">
          <tr>
            <th>Company Name</th>
            <th>Company Contact</th>
            <th>Company Email</th>
            <th>Company Bank Account</th>
            <th>Company Number Account</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p><%= @detail.company_name %> </p></td>

            <td><p><%= @detail.company_contact %> </p></td>

            <td><p><%= @detail.company_email %> </p></td>

            <td><p><%= @detail.company_bank_account %> </p></td>

            <td><p><%= @detail.company_number_account %> </p></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">

      <strong>Car Detail</strong>
      <table class= "table table-striped table-hover table-bordered ">
        <thead class="table-dark">
          <tr>
            <th>Type Of Car</th>
            <th>Car Plate No</th>
            <th>Car Agent Rate</th>
            <th>Car Selling Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p><%= @car.type_of_car %> </p></td>

            <td><p><%= @car.car_plate_no %> </p></td>

            <td><p><%= @car.car_agent_rate %> </p></td>

            <td><p><%= @car.car_selling_rate %> </p></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="v-pills-summarys" role="tabpanel" aria-labelledby="v-pills-summarys-tab">

      <strong>Summary</strong>
      <table class= "table table-striped table-hover table-bordered ">
        <thead class="table-dark">
          <tr>
            <th>Total Amount To Collect</th>
            <th>Total Amount To Pay Supplier</th>
            <th>Profit</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p><%= @total_amount_collect %> </p></td>
            <td><p><%= @total_amount_to_pay_supplier %> </p></td>
            <td><p><%= @profit %> </p></td>


          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
